{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                <h3>Please enter menu text here:</h3>
                <div class="form-group">
                    <label for="menu-type">Menu Format</label>
                    <select class="form-control" id="menu-type" name="menu-type">
                        <option value="D">Single Meal</option>
                        <option value="L">Lunch Menu Email (Andros)</option>
                    </select>
                </div>
                <div id="single-meal-fields">
                    <div class="form-group" id="date-field">
                        <label for="menu-date">Date</label>
                        <input type="date" id="menu-date" name="menu-date" class="form-control">
                    </div>
                    <div class="form-group" id="type-field">
                        <label for="meal-type">Meal Type</label>
                        <select id="meal-type" name="meal-type" class="form-control">
                            <option value="L">Lunch</option>
                            <option value="D">Dinner</option>
                        </select>
                    </div>
                    <div class="form-group" id="vendor-field">
                        <label for="menu-vendor">Vendor</label>
                        <input type="text" id="menu-vendor" name="menu-vendor" class="form-control" placeholder="Vendor (e.g.: Pizza My Heart, Andros)">
                    </div>
                    <div class="form-group" id="cuisine-field">
                        <label for="menu-cuisine">Cuisine</label>
                        <input type="text" id="menu-cuisine" name="menu-cuisine" class="form-control" placeholder="Cuisine (e.g.: Italian, French)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="menu-text">Menu Text</label>
                    <textarea class="form-control" id="menu-text" name="menu-text" placeholder="Enter Menu Text"></textarea>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <h3>Parsed Menu:</h3>
            <div id="parsed-menu">
                <div class="well">Please enter some menu text into the field to the left.</div>
            </div>
            <button type="button" id="save-button" disabled="disabled" class="btn btn-primary">Save Menu</button>
        </div>
    </div>
{% endblock %}

{% block postscript %}
<script src="{%  static 'js/parse.js' %}"></script>
{% endblock %}

