{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <h1>Lunch Bot Daily Emails</h1>
    <p class="lead">To receive daily lunch emails, follow these instructions:</p>

    <div class="subscribe-block">
        <div class="step">1</div>
        <h3>Navigate to:</h3>
        <div class="subscribe-link">
            <a href="https://groups.google.com/a/intrafile.com/forum/#!forum/lunch-bot" target="_blank">https://groups.google.com/a/intrafile.com/forum/#!forum/lunch-bot</a>
        </div>
        <div class="clearfix"></div>

        <div class="step">2</div>
        <h3>Click the 'Join Group' link:</h3>
        <img src="{% static 'img/subscribe.png' %}" class="img-responsive img-thumbnail">
    </div>
{% endblock %}